In [3]:
import pandas as pd
import numpy as np

crime_table = pd.read_csv('crime.csv')
crime_table

,12 months ending,PFA,Region,Offence,Rolling year total number of offences
0,31/03/2003,Avon and Somerset,South West,All other theft offences,25959
1,31/03/2003,Avon and Somerset,South West,Bicycle theft,3090
2,31/03/2003,Avon and Somerset,South West,Criminal damage and arson,26202
3,31/03/2003,Avon and Somerset,South West,Death or serious injury caused by illegal driving,2
4,31/03/2003,Avon and Somerset,South West,Domestic burglary,14561
5,31/03/2003,Avon and Somerset,South West,Drug offences,2308
6,31/03/2003,Avon and Somerset,South West,Fraud offences,5339
7,31/03/2003,Avon and Somerset,South West,Homicide,19
8,31/03/2003,Avon and Somerset,South West,Miscellaneous crimes against society,1597
9,31/03/2003,Avon and Somerset,South West,Non-domestic burglary,15621
10,31/03/2003,Avon and Somerset,South West,Possession of weapons offences,735
11,31/03/2003,Avon and Somerset,South West,Public order offences,4025
12,31/03/2003,Avon and Somerset,South West,Robbery,3504
13,31/03/2003,Avon and Somerset,South West,Sexual offences,1737
14,31/03/2003,Avon and Somerset,South West,Shoplifting,8410
15,31/03/2003,Avon and Somerset,South West,Stalking and harassment,740
16,31/03/2003,Avon and Somerset,South West,Theft from the person,2554
17,31/03/2003,Avon and Somerset,South West,Vehicle offences,41781
18,31/03/2003,Avon and Somerset,South West,Violence with injury,8565
19,31/03/2003,Avon and Somerset,South West,Violence without injury,7117
20,31/03/2003,Bedfordshire,East,All other theft offences,8797
21,31/03/2003,Bedfordshire,East,Bicycle theft,719
22,31/03/2003,Bedfordshire,East,Criminal damage and arson,10006
23,31/03/2003,Bedfordshire,East,Death or serious injury caused by illegal driving,8
24,31/03/2003,Bedfordshire,East,Domestic burglary,3784
25,31/03/2003,Bedfordshire,East,Drug offences,1069
26,31/03/2003,Bedfordshire,East,Fraud offences,3972
27,31/03/2003,Bedfordshire,East,Homicide,2
28,31/03/2003,Bedfordshire,East,Miscellaneous crimes against society,780
29,31/03/2003,Bedfordshire,East,Non-domestic burglary,4552
...,...,...,...,...,...
46439,31/12/2018,West Yorkshire,Yorkshire and The Humber,Residential burglary,19145
46440,31/12/2018,West Yorkshire,Yorkshire and The Humber,Robbery,3830
46441,31/12/2018,West Yorkshire,Yorkshire and The Humber,Sexual offences,8564
46442,31/12/2018,West Yorkshire,Yorkshire and The Humber,Shoplifting,18714
46443,31/12/2018,West Yorkshire,Yorkshire and The Humber,Stalking and harassment,29967
46444,31/12/2018,West Yorkshire,Yorkshire and The Humber,Theft from the person,4145
46445,31/12/2018,West Yorkshire,Yorkshire and The Humber,Vehicle offences,24422
46446,31/12/2018,West Yorkshire,Yorkshire and The Humber,Violence with injury,29214
46447,31/12/2018,West Yorkshire,Yorkshire and The Humber,Violence without injury,42901
46448,31/12/2018,Wiltshire,South West,All other theft offences,4479
46449,31/12/2018,Wiltshire,South West,Bicycle theft,826
46450,31/12/2018,Wiltshire,South West,Criminal damage and arson,5709
46451,31/12/2018,Wiltshire,South West,Death or serious injury caused by illegal driving,2
46452,31/12/2018,Wiltshire,South West,Domestic burglary,0
46453,31/12/2018,Wiltshire,South West,Drug offences,1044
46454,31/12/2018,Wiltshire,South West,Homicide,2
46455,31/12/2018,Wiltshire,South West,Miscellaneous crimes against society,737
46456,31/12/2018,Wiltshire,South West,Non-domestic burglary,0
46457,31/12/2018,Wiltshire,South West,Non-residential burglary,1151
46458,31/12/2018,Wiltshire,South West,Possession of weapons offences,305
46459,31/12/2018,Wiltshire,South West,Public order offences,2710
46460,31/12/2018,Wiltshire,South West,Residential burglary,2071
46461,31/12/2018,Wiltshire,South West,Robbery,338
46462,31/12/2018,Wiltshire,South West,Sexual offences,1646
46463,31/12/2018,Wiltshire,South West,Shoplifting,4300
46464,31/12/2018,Wiltshire,South West,Stalking and harassment,2380
46465,31/12/2018,Wiltshire,South West,Theft from the person,347
46466,31/12/2018,Wiltshire,South West,Vehicle offences,2895
46467,31/12/2018,Wiltshire,South West,Violence with injury,5701
46468,31/12/2018,Wiltshire,South West,Violence without injury,5840

4.Step: See the info about dataFrame

In [4]:
crime_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46469 entries, 0 to 46468
Data columns (total 5 columns):
12 months ending                         46469 non-null object
PFA                                      46469 non-null object
Region                                   46469 non-null object
Offence                                  46469 non-null object
Rolling year total number of offences    46469 non-null int64
dtypes: int64(1), object(4)
memory usage: 1.8+ MB

5.Step:Print the name of columns

In [5]:
crime_table.columns

Index(['12 months ending', 'PFA', 'Region', 'Offence',
       'Rolling year total number of offences'],
      dtype='object')

6.Step: Summarize the DataFrame

In [14]:
crime_table.describe()

       Rolling year total number of offences
count                            46469.00000
mean                              5266.32654
std                              12915.68672
min                               -120.00000
25%                                549.00000
50%                               2011.00000
75%                               5600.00000
max                             308901.00000

7.Step: Which region has max offences

In [21]:
x = crime_table.Region.max()
x

'Yorkshire and The Humber'

8.Step: Which was the most offences ?

In [40]:
c = crime_table.groupby('Offence')
c = c.sum()
c = c.sort_values(['Rolling year total number of offences'],ascending=False)
c.head()

                           Rolling year total number of offences
Offence
Criminal damage and arson                               37767463
All other theft offences                                30979393
Vehicle offences                                        26075670
Violence with injury                                    21535931
Shoplifting                                             16781641

9.Step: What is the Pfa with max crime

In [58]:
crime_table[crime_table['PFA'] == crime_table['PFA'].max()].head(10)

,12 months ending,PFA,Region,Offence,Rolling year total number of offences
860,31/03/2003,Wiltshire,South West,All other theft offences,7523
861,31/03/2003,Wiltshire,South West,Bicycle theft,1050
862,31/03/2003,Wiltshire,South West,Criminal damage and arson,9197
863,31/03/2003,Wiltshire,South West,Death or serious injury caused by illegal driving,6
864,31/03/2003,Wiltshire,South West,Domestic burglary,2724
865,31/03/2003,Wiltshire,South West,Drug offences,898
866,31/03/2003,Wiltshire,South West,Fraud offences,1409
867,31/03/2003,Wiltshire,South West,Homicide,5
868,31/03/2003,Wiltshire,South West,Miscellaneous crimes against society,695
869,31/03/2003,Wiltshire,South West,Non-domestic burglary,3518

10.Step: What is the Region with max crime

In [59]:
crime_table[crime_table['Region'] == crime_table['Region'].max()].head(10)

,12 months ending,PFA,Region,Offence,Rolling year total number of offences
380,31/03/2003,Humberside,Yorkshire and The Humber,All other theft offences,16428
381,31/03/2003,Humberside,Yorkshire and The Humber,Bicycle theft,3736
382,31/03/2003,Humberside,Yorkshire and The Humber,Criminal damage and arson,24235
383,31/03/2003,Humberside,Yorkshire and The Humber,Death or serious injury caused by illegal driving,23
384,31/03/2003,Humberside,Yorkshire and The Humber,Domestic burglary,12191
385,31/03/2003,Humberside,Yorkshire and The Humber,Drug offences,1883
386,31/03/2003,Humberside,Yorkshire and The Humber,Fraud offences,2013
387,31/03/2003,Humberside,Yorkshire and The Humber,Homicide,18
388,31/03/2003,Humberside,Yorkshire and The Humber,Miscellaneous crimes against society,1525
389,31/03/2003,Humberside,Yorkshire and The Humber,Non-domestic burglary,14908